@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300");
#bar {
  background: url("./images/background.jpg");
  background-size: cover;
  height: 7px;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1; }

.nav {
  padding: 30px 10px; }

.popup {
  border-radius: 0.25rem;
  color: #fff;
  background-color: #E74C3C;
  padding: 15px 25px;
  margin: 20px 0;
  transform-origin: center top;
  transform: rotateX(-90deg);
  transition: transform 0.5s;
  width: 100%; }

.active {
  transform: perspective(2000px) rotateX(0deg); }

.form-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative; }

footer p {
  text-align: center; }
